/* global css */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 0;
}

a,
a:visited,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.7rem;
  color: inherit;
}

h1 {
  letter-spacing: -0.02em;
  line-height: 1.5;
}

h2 {
  letter-spacing: -0.02em;
}

h3 {
  letter-spacing: -0.02em;
}

h4 {
  letter-spacing: -0.02em;
}

h5 {
  letter-spacing: -0.01em;
}

h6 {
  letter-spacing: -0.005em;
}


